body {
	font-family: 'Raleway', sans-serif;
}

.carousel-caption {
	display: flex;
	flex-direction: column;
	color: black;
}

.carousel-caption h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
}

.carousel-item {
	height: 100vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* NAV CSS
-------------------------------------------------- */

.flex-container {
  	display: flex;
}

.nav-masthead .nav-link {
	padding: .25rem 0;
	font-weight: 700;
	color: black;
	background-color: transparent;
	border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  	border-bottom-color: black;
}

.nav-masthead .nav-link {
	margin: 0 .5rem;
}

.nav-masthead .active {
  	color: black;
  	border-bottom-color: black;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
  
@media (min-width: 575px) {
	.carousel-caption {
		top: -25%;
		justify-content: center;
    	align-items: center;
	}
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}
	.nav-masthead .nav-link {
		font-size: 20px;
	}
}

@media(max-width: 575px) {
	.carousel-caption {
		position: fixed;
		top: 0%;
		right: 5%;
		left: 5%;
	}
	.carousel-caption h1 {
		font-size: 2rem;
	}
	.nav-masthead .nav-link {
		font-size: 15px;
	}
	.nav {
		display: flex;
		justify-content: center;
	}
}

/* CAROUSEL BG IMAGES
-------------------------------------------------- */

#bg-1 {
	background-image:
	linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.99)),
	url("img/spring-2019-chorus.jpg");
}
#bg-2 {
	background-image:
	linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.99)),
	url("img/rehearsal-4.jpg");
}
#bg-3 {
	background-image:
	linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.99)),
	url("img/tina-maryann.jpg");
}
#bg-4 {
	background-image:
	linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.99)),
	url("img/ensemble-christmas.jpg");
}
#bg-5 {
	background-image:
	linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.99)),
	url("img/rehearsal-3.jpg");
}
#bg-6 {
	background-image:
	linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.99)),
	url("img/chorus-seated.jpg");
}
#bg-7 {
	background-image:
	linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.99)),
	url("img/christmas-2018-chorus.jpg");
}
#bg-8 {
	background-image:
	linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.99)),
	url("img/chorus-women-1.jpg");
}
#bg-9 {
	background-image:
	linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.99)),
	url("img/barbershop-rehearsal.jpg");
}
#bg-10 {
	background-image:
	linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.99)),
	url("img/rehearsal-1.jpg");
}
#bg-11 {
	background-image:
	linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.99)),
	url("img/rehearsal-2.jpg");
}